[2013-12-28 04:19] CruncherBigData opened #4 "how do I paginate through dynamodb scan operation"
I have a table that has more than 1000 rows. and I need to paginate through the result of the scan operation, in the JAVA SDK I used getLastEvaluatedKey() and then start with that for my next iteration , is there something similar in this awsscala ?

for example,

[code]

thanks in advance

[2013-12-29 13:49] #4 closed, assigned to seratch

[2013-12-30 03:26] CruncherBigData opened #6 "is there a usage example of the class AttributeValue ?"

[2013-12-30 03:48] #6 closed, assigned to seratch

[2014-01-27 04:45] nicklan opened #8 "Can't access underlying in the Instance class"
This means that either you need to provide a mapping for EVERY aws instance call, or provide access to the underlying instance class.

For example, this means there is currently no way to set the tags on an Instance.

[2014-01-27 08:25] #8 closed, assigned to seratch

[2014-02-02 19:07] andyscott opened #11 "Default empty constructor for AmazonS3Client (and others)"
In some circumstances, leveraging the default constructor for the java S3 client is more appealing than the default constructor provided in AWScala.

Both default constructors look for credentials stored in system properties. However, the scala API fails if the parameters aren't present. The java API won't fail. And if you're running the code on an EC2 instance with an IAM role that grants permiss

[2014-02-02 20:31] CruncherBigData opened #12 "DynamoDB scan operation ExclusiveStartKey"
The default scan method assumes that the returned results do not exceed 1MB. However, if the result returned by the scan operation exceeds 1MB this method requires keeping track of the [ExclusiveStartKey](http://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_Scan.html#API_Scan_RequestSyntax) and then iterating over the result based on that. please refer to the following code snippet fo

[2014-02-19 10:33] Rheeseyb opened #16 "SQS Test no longer compiles"
The update to use SDK 1.7.1 has broken SQSSpec, presumably because of the renaming of awscala.sqs.SQS$createQueue to awscala.sqs.SQS$createQueueAndReturnQueueName.

I don't want to fix this myself because I'm unsure of the reasoning behind the name change.

[2014-02-19 11:05] #16 closed, assigned to nobody

[2014-02-24 17:01] mcamou opened #17 "dynamodbv2.Item doesn't support getting attributes by key"
All DynamoDB get operations (get, query, scan, etc...) return Item objects. While the AWS API returns a Map, the Item object turns it into a simple Seq(name, AttributeValue). That means that to get the value of a specific attribute (which I assume is a common case you have to either turn it back into a Map or iterate. It would be much more useful to retain the attribute names and be able to do, fo

[2014-03-13 19:48] CruncherBigData opened #20 "does the DynamoDB api supports batch write ? are there any examples?"

[2014-05-02 05:51] mslinn opened #22 "Failing Tests"
I just ran `sbt test` on the `develop` branch, and got:

[code]

Is anything else supposed to be running in order for these tests to work, or are there configurations, permissions or configurations required... or are these actually broken tests?

[2014-05-02 05:59] mslinn opened #23 "Build fails when set to build.properties sets sbt.version=0.13.2"
[code]

[2014-05-02 08:41] #23 closed, assigned to nobody

[2014-05-04 17:01] mslinn opened #25 "Another pair of eyes"
I'm working on adding CloudFront support in a [fork](https://github.com/mslinn/AWScala). I've hit a problem that puzzles me and I posted it on [StackOverflow](http://stackoverflow.com/questions/23456265/deleting-an-aws-cloudfront-distribution-using-java-api). Anyone here care to take a look?

[2014-05-14 18:44] Mixolyde opened #27 "Support SimpleNotificationServiceWrapper"
Support an SNS wrapper, similar to the SQS wrapper.

[2014-06-03 10:10] mcamou opened #28 "No artifact for Scala 2.11"
I'm updating a project to Scala 2.11.1 and there seems to be no AWScala artifact.

[2014-06-03 12:12] #28 closed, assigned to seratch

[2014-06-04 07:16] jottos opened #29 "S3 objectSummaries truncates at 1000"
I'm assuming you are aware that the S3 objectSummaries which uses the list objects truncates at 1000 objects and needs to support the isTruncated() and listNextBatchOfObjects() methods/requests

is this on your near term roadmap, is there a workaround (not obvious from reading code) or is it a punt for the foreseeable future?

[2014-06-10 17:19] derrickburns opened #32 "IpPermission getFromPort and getToPort may be null."
The IpPermissions companion object's apply method attempts to dereference fields that may be null.

[2014-06-12 05:28] derrickburns opened #33 "DynamoDB batchGet doesn't work with when batch size exceeds limits"
DynamoDB imposes a limit of the number (100) and result size from a batch get request.  The AWS API BatchGetResult  does list the items that were NOT returned.  The Scala version should either make those items available OR return a Stream that provides ALL the requested items.

[2014-06-12 06:03] #32 closed, assigned to nobody

[2014-06-12 06:03] #29 closed, assigned to nobody

[2014-06-15 06:31] derrickburns opened #35 "SimpleDB.domains does not return full set of results"
The listDomains method returns a nextToken when more results are available.  This token is ignored.

[2014-06-15 06:50] derrickburns opened #36 "SimpleDB.select doesn't return all results."

[2014-06-15 07:16] derrickburns opened #37 "EC2 does not support tags request."

[2014-06-15 07:27] derrickburns opened #38 "EC2 does not support instance statuses."

[2014-06-16 05:18] #33 closed, assigned to nobody

[2014-06-16 17:15] derrickburns opened #39 "S3.deleteObjects assume all objects in input list are from same bucket"
def deleteObjects(objs: Seq[S3Object]): Unit = objs.headOption.map {
    obj =>
      val req = new aws.model.DeleteObjectsRequest(obj.bucket.name)
      req.setKeys(objs.map(obj => new aws.model.DeleteObjectsRequest.KeyVersion(obj.key, obj.versionId)).asJava)
      deleteObjects(req)
  }

[2014-06-16 17:15] #35 closed, assigned to nobody

[2014-06-16 17:15] #36 closed, assigned to nobody

[2014-06-16 17:15] #37 closed, assigned to nobody

[2014-06-16 17:15] #38 closed, assigned to nobody

[2014-06-16 17:37] #39 closed, assigned to nobody

[2014-08-20 10:39] sscarduzio opened #41 "Update to the latest aws-java version!"
I coded against your library which depends on a very old httpclient and apache common codec. Now I have a conflict that prevents me to continue my development.

I noticed that upgrading to the [latest version of aws-java](http://mvnrepository.com/artifact/com.amazonaws/aws-java-sdk/1.8.9.1) would solve the problem.

![screenshot 2014-08-20 11 33 10](https://cloud.githubusercontent.com/assets/13271

[2014-08-20 14:02] #41 closed, assigned to seratch

[2014-08-28 13:34] Akrome opened #42 "Dynamodbv2 throws NullPointerException (rather than returning None) on accessing a table you just deleted"
Hi. Wanted to point out this issue I have noticed: If you first create a table, then you delete it, and wait for the deletion to take place, calling

dynamoDB.table(tableName)

throws a NullPointerException rather than returning None. Calling

dynamoDB.table("thisisarandomnameneverusedbefore") returns None, as by expected behavior.

This is the code to replicate the deletion error:
  //Table creat

[2014-09-03 23:39] justinhj opened #45 "Repo in instructions is not functioning"
Has the repo in the instructions been moved?

warn] ==== piotrga: tried
[warn]   https://raw.github.com/piotrga/piotrga.github.com/master/maven-repo/asyncdynamo/async-dynamo/1.6.0/async-dynamo-1.6.0.pominfo] Resolving com.typesafe.trace#trace-sigar-libs;0.1.3 ...
[warn]  ::::::::::::::::::::::::::::::::::::::::::::::
[warn]  ::          UNRESOLVED DEPENDENCIES         ::
[warn]  ::::::::::::::::::

[2014-09-03 23:42] #45 closed, assigned to nobody

[2014-12-06 18:40] frbayart opened #51 "S3 Storage Class option"
Hi ,

I'm searching to know how to specify StorageClass option when I put a new object and also to update an existing object (all my objects are stored as STANDARD instead of RR).

KR

/François

[2015-01-14 00:18] mericano1 opened #59 "limit in select not working as expected"
I am having some problems using a limit in a select with AWScala. It seem to fetch the records in batches of the limit size up until the last one. In my query
    select * from logs where liveFrom < '1421192471363' and liveTo > '1421192471363' and rank > '0' order by rank limit 10
I get back 320 records out of a total of 323 matching records without the limit.

I have a feeling this might be relat

[2015-01-17 03:38] joprice opened #60 "runAndAwait doesn't handle intermittent aws errors"
When calling runAndAwait, the following exception is throw, even though the instance is created.

[code]

[2015-02-10 10:01] iceberg901 commented on #11
So I've discovered that my fix isn't really a fix.  Even though DefaultAwsCredentialsProviderChain is now used by deafult, awscala grabs the credentials once and then holds them forever.  This doesn't work for IAM roles, because the credentials are regularly invalidated and regenerated, so once this happens once the credentials held by awscala stop working.  I am re-opening and will write a real f

[2015-02-15 20:02] JakubKahovec opened #62 "async aws clients"
Hi,
do you plan to support async aws clients (i.e AmazonDynamoDBAsyncClient etc) ?
Thanks
Jakub

[2015-02-20 16:04] MasseGuillaume opened #63 "Region object vs type alias"
First, thanks for this project, it's really helpful.

I got a major bug in the scala 2.11.5 Repl: https://issues.scala-lang.org/browse/SI-9165

as pointed out in the comment, it may be because of the confusion between the [type alias Region](https://github.com/seratch/AWScala/blob/develop/src/main/scala/awscala/package.scala#L3) and the [object Region](https://github.com/seratch/AWScala/blob/devel

[2015-02-22 22:17] eberle1080 commented on #51
val metadata = new ObjectMetadata()
    metadata.setHeader(Headers.STORAGE_CLASS, StorageClass.ReducedRedundancy)
    val put = new PutObjectRequest("bucket", "key", data, metadata)

[2015-03-09 11:08] iceberg901 commented on #11
From version 0.5.0 onward the default constructors of all clients in AWScala use the DefaultAWSCredentialsProviderChain, which will fallback to IAM role as the last choice in its chain.  They will also automatically refresh IAM role credentials so they don't get stuck with expired ones.

[2015-03-09 11:08] #11 closed

[2015-03-17 00:02] le-doude opened #66 "Dynamodbv2 does not support the JSON document type"
Having this support in the scala client would make a lot of projects easier for me and a lot of people.
The feature is explained in here for Java:
https://aws.amazon.com/blogs/aws/dynamodb-update-json-and-more/

Have I missed it? I couldn't find a similar feature (without implementing my own Json to Map[String, _] conversion).

[2015-04-02 21:41] myyk opened #68 "Modular dependencies"
Would you consider breaking out the dependencies into more modular pieces? Having to depend on all of aws-java-sdk when only using S3 is really unnecessary. aws-java-sdk is already broken up into pieces, so it would just take breaking the build up into sub-projects and having those depend on each other as needed.

This could potentially increase library adoption. I for one, wouldn't use the librar

[2015-04-07 10:40] fcofdez commented on #63
I've the same problem, is there a way to solve this?

[2015-04-07 13:25] MasseGuillaume commented on #63
[code]

[2015-04-13 13:51] MartijnDwars opened #69 "Missing instance types"
The `awscala.ec2.InstanceType` object proxies the `aws.model.InstanceType` class from the Java SDK. However, it misses some of the [new instance types](http://aws.amazon.com/ec2/instance-types/). In my particular case, I'm missing the `t2.micro` type.

[2015-04-14 00:09] eswenson1 opened #70 "Cannot get S3 buckets in US_EAST_1 region"
If I use the following code:

[code]

I get the error:

[code]

Since I created my buckets in the us-east-1 region, and AWScala uses US_WEST_1 as the default region (unlike the AWS SDK for Java, which uses us-east-1 as the default region), while I can list buckets, I can do no operations on specific buckets because the Region defaults to US_WEST_1 and I'm unable to override this as you can see abo

[2015-04-14 00:46] seratch commented on #69
If you're in a hurry, please make a pull request to fix this.

[2015-04-14 00:51] seratch commented on #68
Indeed, it's possible but that will make library release heavier than now.

I know some users use this library in serious applications but this project started as a handy tool when working on the Scala REPL. I have other projects to use my time (e.g. Scalatra, json4s, ScalikeJDBC, Skinny Framework). If someone'd like to work on this, that's a quite welcome.

[2015-04-14 00:52] seratch commented on #66
To be honest, I'm not an active user of DynamoDB. If you or someone improve this, that's a quite welcome.

[2015-04-14 00:53] seratch commented on #62
No, I don't. If other collaborators will work on this, that would be great.

[2015-04-14 01:01] seratch commented on #70
I just read Java SDK source code. `US Standard (us-east-1)` should be null here.

https://github.com/aws/aws-sdk-java/blob/1.8.0/src/main/java/com/amazonaws/services/s3/model/Region.java#L53

If you find a work around, please make a pull request to improve this.

[2015-04-14 01:13] eswenson1 commented on #70
That's correct, but due to the way AWScala is implemented, I don't see a way of specifying this region from this library. It works fine from the Java AWS SDK.

[2015-04-14 01:26] eswenson1 commented on #70
More specifically,  none of the following will work:

Region(null)
Region(None)
Region("us-east-1")
Region("US")

as a parameter to S3().at(...)

The issue appears to be due to the fact that com.amazonaws.servies.s3.model.Region.fromValue does not accept us-east-1, but only null or "US" as a means of getting the us-east-1 region.  But the code in AWScala uses the com.amazonaws.regions.Regions.from

[2015-04-14 01:42] eswenson1 commented on #70
I came up with a hack that appears to make things work.  In S3.scala, add the following function:

  def s3RegionHack(regionName: String): String = {
    regionName match {
      case "us-east-1" => "US"
      case _ => regionName
    }
  }

And change the code that follows to use it.  I'll submit a PR for this.

  private[this] var region: aws.model.Region = aws.model.Region.fromValue(s3RegsionHa

[2015-04-14 01:44] seratch commented on #70
Cool. Please change the `s3RegionHack` method as a private method on the PR.

[2015-04-16 02:18] #69 closed

[2015-04-16 02:19] #70 closed

[2015-04-17 01:53] lihaoyi commented on #63
I've got the same problem too. @MasseGuillaume what is the code example and how does it relate to the bug? =P

[2015-04-17 20:28] MasseGuillaume commented on #63
@lihaoyi I knew you were running scala secretly at dropbox  :P

Let me see what's the solution for this during the weekend

[2015-04-19 12:06] #63 closed

[2015-04-23 15:31] Daenyth opened #75 "Region doesn't behave like README suggests"
Trying to follow the README section on [dynamo](https://github.com/seratch/AWScala#amazon-dynamodb)

[code]

[2015-04-23 15:42] Daenyth commented on #75
Duplicate #63

[2015-04-23 15:42] #75 closed

[2015-04-28 21:02] MasseGuillaume opened #76 "s3 putObject InputStream"
It's available in the sdk: https://github.com/aws/aws-sdk-java/blob/1.8.0/src/main/java/com/amazonaws/services/s3/AmazonS3.java#L2187
but not in this project: https://github.com/seratch/AWScala/blob/master/src/main/scala/awscala/s3/S3.scala#L208

[2015-05-07 15:34] jcbarton opened #79 "EU_CENTRAL_1 not found in SQS.apply()"
Hi,

We're currently using 0.5.2. We were using an older version (0.3.x) before, and this code worked, so something somewhere has changed!

Here is the code:

implicit val sqs = SQS.apply(<key>, <secret>)(Region.Ireland)

This is the error:
java.lang.NoSuchFieldError: EU_CENTRAL_1
        awscala.Region0$.<init>(Region0.scala:27)
        awscala.Region0$.<clinit>(Region0.scala)
        awscala.pac

[2015-05-15 17:52] beezee commented on #17
Here's my workaround for that:

[code]

[2015-05-16 00:47] #42 closed

[2015-05-31 22:28] joprice opened #81 "sbt version in the bundled sbt script does not match build.properties"
Sbt version in `./sbt` is `0.13.2`, while `build.properties` has `0.13.8`.

[2015-05-31 23:07] seratch commented on #81
Fixed at https://github.com/seratch/AWScala/commit/173d115eadc64a9628bfeb6fe2bfe9084cdc3a52

[2015-05-31 23:07] #81 closed

[2015-05-31 23:09] seratch commented on #79
I'm not sure but I couldn't reproduce your issue.

[code]

[2015-05-31 23:10] seratch commented on #76
Supporting this would be fine. If you need this right now, please make a pull request.

[2015-06-05 14:11] biomunky commented on #79
I noticed the same thing. Everything is fine in sbt console but something was up with the assembly.

[2015-06-10 19:50] zzztimbo commented on #79
I get the same error when trying to obtain an S3 object.

java.lang.NoSuchFieldError: EU_CENTRAL_1
	at awscala.Region0$.<init>(Region0.scala:27)
	at awscala.Region0$.<clinit>(Region0.scala)
	at awscala.package$.<init>(package.scala:3)
	at awscala.package$.<clinit>(package.scala)

[2015-06-12 10:55] codingvlad opened #82 "Any plans to support AWS CloudFormation"
Hello, we are using awscala for an intern tool at our university and we need to use the cloudFormation service from Amazon and I was wondering if you are interested to create a new service in your library to support this. Waiting for your reply. Have a nice day :)

[2015-06-15 16:29] EdgeCaseBerg opened #83 "Make Condition a Case Class for consistency"
Hello! Your library is really useful and saving me a lot of time, but something tripped me up today.
I was defining a Policy that had conditions, Something like this:

	val policy = Policy(
			Seq(
				Statement(Effect.Allow,
					Seq(
						Action("s3:ListAllMyBuckets"),
						Action("s3:GetBucketLocation")
					),
					Seq(
						Resource("arn:aws:s3:::*"),
						Resource(s"arn:aws:s3:::${bucket

[2015-06-15 17:56] nykolaslima opened #84 "Where do I configure my AWS credentials?"
The README shows pretty well how to use the library features but I couldn't find how to configure my AWS credentials(key and secret). How can I do it?

I believe we could add it to README also.

[2015-06-15 18:06] seratch commented on #82
I myself don't have a plan to implement CloudFormation wrapper right now. If you're interested in working on it, pull requests are welcome.

[2015-06-15 18:08] seratch commented on #84
Thanks for your feedback. I just updated REAME. https://github.com/seratch/AWScala/commit/4d2f167aed14f4374f048e8245151c99bdaae83a

[2015-06-15 18:16] #83 closed

[2015-06-15 18:16] seratch commented on #83
Thanks. I just changed Condition class to a case class.

[2015-06-15 20:03] EdgeCaseBerg commented on #83
awesome! thanks!

[2015-06-16 18:04] nykolaslima opened #85 "support copyObject method"
It would be nice to support `copyObject` method: http://docs.aws.amazon.com/AmazonS3/latest/dev/CopyingObjectUsingJava.html

It's already available in Java SDK

[2015-06-16 18:08] nykolaslima commented on #85
Actually we already support it: `s3.copyObject()`

Sorry for that.

[2015-06-16 18:08] #85 closed

[2015-06-16 21:56] nykolaslima opened #86 "how can I configure ACL when putObject"
`bucket.get.putObject(filename, file, metadata)`
How can I configure the ACL?

[2015-06-16 22:04] nykolaslima commented on #86
`s3.setObjectAcl(temporaryBucketName, filename, CannedAccessControlList.PublicRead)`

We should improve the docs.

[2015-06-16 22:04] #86 closed

[2015-06-16 22:42] seratch commented on #84
Let me close this issue.

[2015-06-16 22:42] #84 closed

[2015-06-17 12:50] nykolaslima commented on #84
:+1:

[2015-06-18 17:39] nykolaslima commented on #84
@seratch actually using environment variable is not working with AWScala.

I've configured those environment variables: `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY`.

And i've created the S3 instance this way: `val s3 = S3()`

[2015-06-19 12:19] dserdyuk opened #87 "awscala.ec2.SecurityGroup field name overiloading"
Fields defined in awscala.ec2.SecurityGroup  is hidden by appropriated fields( with the same name) in base class  in aws.model.SecurityGroup.

[2015-06-29 07:40] nelgo opened #88 "403 Forbidden with user without list all buckets right"
Good Morning,

i have an issue working with this library while using an user without the right to list all existing bucket. If I got it right, every time I try to retrieve a Bucket, the library first tries to list all the existing buckets and then picks the one requested by the user, causing a 403 Forbidden error when using a "limited access" user.

Looking at how the AWS Java client deal with thi

[2015-07-06 20:59] nykolaslima opened #89 "Expiration time not working"
I'm trying to upload a file and set a expiration time to it.

[code]

But when I check the file in the s3 bucket it doesn't have `expiry date`. It's some bug in AWScala or am I using it wrong?

[2015-07-09 17:30] ilanbiala commented on #84
@seratch is there no way to authenticate via the AWScala package? It would be so much easier to do something like:

[code]

[2015-07-09 18:40] ilanbiala opened #90 "SQS message stream"
Is there any way to use SQS with a stream so I don't have to set up a timer to check and I can provide a function to handle any new messages?

[2015-07-13 14:39] ilanbiala commented on #90
@seratch Bump.

[2015-07-13 14:58] seratch commented on #90
Not yet. Pull requests are always welcome.

[2015-07-13 14:59] seratch commented on #89
I'm not sure. Please figure out the cause if you have time.

[2015-07-13 15:00] seratch commented on #88
Maybe that would be useful for others.

[2015-07-13 15:12] ilanbiala commented on #90
@seratch so to as of now, to follow and continuously check up on the queue I have to setup an Akka actor that implements a timer?

[2015-07-13 15:48] ilanbiala commented on #84
@nykolaslima have you been able to authenticate with environment variables? I have only been able to with a credentials file in `~/.aws`.

[2015-07-13 16:21] nykolaslima commented on #84
@ilanbiala I could not get this working with environment variables.

I had to create a code in my project to load environment variable and instantiate the `S3` object.

[2015-07-13 16:41] nykolaslima commented on #89
I need to debug it. But looks like a bug in AWScala

[2015-07-13 17:12] ilanbiala commented on #84
@seratch any ideas what's going on?

[2015-07-13 18:11] ilanbiala commented on #90
@seratch any idea on how to start this? Is there a basic implementation that you may have that you can publish? It's pretty hard to use SQS without having a subscription to the queue so you can track new messages and execute on them.

[2015-07-14 04:57] seratch commented on #76
Fixed by #91

[2015-07-14 04:57] #76 closed

[2015-08-01 05:57] michaelb990 opened #92 "Proxy support using AWS SDK ClientConfiguration"
Looks like the current version of AWScala doesn't allow me to specify a proxy configuration (I'm using this for S3). AWS's Java SDK supports proxy through a `ClientConfiguration` object which can be passed into the S3 constructor.

Any plans to support this in the future? I am playing around with it myself, we'll see if I can add it, but let me know if you have pointers or are planning on adding t

[2015-08-28 11:39] e-dorigatti opened #93 "Cannot set object metadata"
Hello, my objects are created with the wrong content-type and I'd like to change that. The code runs fine and gives no errors, still the metadata is not changed. Here's my code, note that `setAsPublicRead` works and keys are indeed publicly accessible.

[code]

[2015-09-01 08:31] malachheb commented on #79
I had the same problem using aws-sdk-java 1.10.14 with 1.10.13 i have not the problem

[2015-09-06 18:16] malachheb commented on #79
another way to initialise object using amazonaws package directly:
`  implicit val sqs = SQS.at(com.amazonaws.regions.Region.getRegion(com.amazonaws.regions.Regions.EU_WEST_1)) `

[2015-10-28 10:20] backender opened #95 "Option[Table] results in NoSuchElementException"
Hi there,

Checking if a table exists :
[code]
I expect to get either None or Table. Instead, it results in:

[code]

Reason for this is that table function will call get on an option type:
[code]
while the keySchema may not have a hash key, for example when a table doesn't exist at all.

[2015-11-17 20:20] FrancisToth commented on #82
Hi @codingvlad !

Are you planning to work on this ?

Thanks,

Francis.

[2015-11-17 20:24] codingvlad commented on #82
Hello!I just got a job in other Scala project so I will probably leave this as a second priority issue. Are you interested in doing something? I wanted to use it in a university project but ended up using the java version of almost everything I needed. Happy hacking!

[2015-11-27 11:13] bahtiyarerden opened #100 "Http request execution error on createTable action"
Hello

When i try to create table on local DynamoDB instance, i am getting this error

<html>
com.amazonaws.http.AmazonHttpClient executeHelper
INFO: Unable to execute HTTP request: Read timed out
java.net.SocketTimeoutException: Read timed out
	at java.net.SocketInputStream.socketRead0(Native Method)
	at java.net.SocketInputStream.socketRead(SocketInputStream.java:116)
	at java.net.SocketInputStr

[2015-11-27 11:37] #100 closed

[2015-12-03 11:23] krotton commented on #88
:+1:

There's also `S3.bucket(name: String): Option[Bucket]` which needlessly uses `listBuckets` - that means an additional roundtrip and requires permissions to list buckets even though access permissions to a single bucket would suffice.

[2016-01-15 13:52] bahtiyarerden opened #102 "ProfileCredentialsProvider"
Can you implement ProfileCredentialsProvider?

[2016-01-18 14:52] bahtiyarerden opened #103 "DynamoDB Json Support"
I want to put item to dynamodb like this format:

{
"url":{
"schema":"https",
"body":"www.abc.com",
"params":[
{
"Content-type":"json"
},
{
"Content-type":"text/html"
}
]
}
}

for this format i am using this code block:

Map("url" -> Map("schema" -> "https", "body" -> "www.abc.com", "params" -> List(Map("Content-Type" -> "json"), Map("Content-type" -> "text/html"))))

but it gives me the output in

[2016-01-18 14:52] #102 closed

[2016-01-27 13:38] coolamazone commented on #79
I am using 0.4.2 version. It's showing this error

Exception in thread "main" java.lang.NoSuchFieldError: EU_CENTRAL_1
        at awscala.Region$.<init>(Region.scala:27)
        at awscala.Region$.<clinit>(Region.scala)
        at com.touchtalent.bobbleapp.spark.sql.scala.repository.DynamoDB$.<init>(DynamoDB.scala:19)
        at com.touchtalent.bobbleapp.spark.sql.scala.repository.DynamoDB$.<clini

[2016-02-16 22:39] DeaconDesperado commented on #66
@le-doude It turns out that this is quite non-trivial to implement.  The document API exposes a separate [dynamodb client object](http://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/services/dynamodbv2/document/DynamoDB.html), and the contracts for all the common CRUD opts are slightly different.  It requires a lot more boilerplate wrapper classes, in most cases simply extending and

[2016-02-19 04:51] DeaconDesperado opened #104 "[DynamoDB]: Support for ReturnValues on Put and Update operations"
It would be nice to be able to manipulate the values returned from dynamo on get and put operations using the [ReturnValues](http://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_PutItem.html#API_PutItem_RequestSyntax) construct.

[2016-03-02 05:08] DeaconDesperado opened #110 "Change recursive map handling to use scala-wrapped AttributeValues rather than bare aws ones"
https://github.com/seratch/AWScala/blob/master/src/main/scala/awscala/dynamodbv2/AttributeValue.scala#L14

I've been thinking about perhaps reimplementing this to provide a more fluent interface.  Since the types that come back out of the nested maps are the vanilla-java AttributeValues, traversing their output can be a little clumsy.  Nesting the wrapped Awscala types instead, most likely another

[2016-03-08 04:47] DeaconDesperado opened #111 "[DynamoDB]: No support for Boolean field type"
It seems that [this match](https://github.com/seratch/AWScala/blob/master/src/main/scala/awscala/dynamodbv2/AttributeValue.scala#L21) is not entirely exhaustive, as it does not account for [boolean field types](http://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/services/dynamodbv2/model/AttributeValue.html#getBOOL()).

[2016-03-09 23:24] #111 closed

[2016-03-10 12:18] larroy commented on #95
I think these operations should return a disjunction @seratch would you be willing to have scalaz.\/  on these types?

[2016-03-12 17:10] DeaconDesperado opened #115 "[DynamoDB]: Provide a TypeClass for serialization of objects to Items"
As a user of AWScala's dynamodb module, I have found some success defining a [typeclass converter](http://danielwestheide.com/blog/2013/02/06/the-neophytes-guide-to-scala-part-12-type-classes.html) for my types to provide encapsulated serialization into AttributeValues.

I might be good to provide a signature for such a class an code implementations of `putItem` and `getItem` that could have conte

[2016-03-25 19:47] ludflu opened #116 "AWScala requires a version of jackson-databind incompatible with spark 1.6"
Thanks for AWScala, its great!

Unfortunately, I needed to use S3 in conjunction with AWS EMR/Spark, and I ran into a dependency problem.

When I include AWScala in my spark project, ("com.github.seratch" %% "awscala" % "0.5.+") I get the following JsonMappingException:

` com.fasterxml.jackson.databind.JsonMappingException: Could not find creator property with name 'id' (in class org.apache.spark

[2016-04-15 11:33] jdrphillips opened #117 "Release a new version with the boolean fix"

[2016-04-20 08:58] alexarchambault commented on #116
:+1:

[2016-04-20 09:00] alexarchambault commented on #117
:+1:

A new release would also include https://github.com/aws/aws-sdk-java/pull/590, which would be cool.

[2016-05-14 15:32] jdrphillips opened #118 "AWScala is currently setting Number Sets as String Sets"
https://github.com/seratch/AWScala/blob/master/src/main/scala/awscala/dynamodbv2/AttributeValue.scala#L29

`withSS` should be `withNS`.

[2016-05-14 16:22] jdrphillips commented on #118
Pull request: https://github.com/seratch/AWScala/pull/119

[2016-05-14 23:50] seratch commented on #118
Thank you for your PR. Merged.

[2016-05-14 23:50] #118 closed

[2016-05-30 12:06] #12 closed

[2016-06-02 22:05] findchris commented on #95
+1 here

Similar issue:
[code]

This is triggered by a simple `dynamoDB.table(TableName).get.put(...)`.

[2016-06-08 13:19] czyuto commented on #79
I get the same error at 0.5 version.
[code]

[code]

[2016-06-08 13:22] moc-yuto commented on #79
I get the same error at 0.5 version.
[code]

[code]

[2016-06-08 13:28] seratch commented on #79
I'm afraid that you guys here are using AWScala with some imcompatible AWS SDK version. Check your libraryDependencies. https://github.com/seratch/AWScala/blob/master/project/Build.scala#L6

[2016-06-08 15:08] moc-yuto commented on #79
The Error caused by aws-java-sdk 1.8.6 being installed at sbt compile in my project by another library..
[code]

[2016-06-08 15:30] seratch commented on #79
Try `dependencyOverrides`!

[2016-06-09 01:05] moc-yuto commented on #79
Thx! 👍

[2016-06-09 01:16] seratch commented on #79
The cause of the problem this issue points is due to AWS SDK bin-incompatibility. You must use AWS SDK 1.10.x for AWScala 0.5.x. IMO, we don't have any actions to do for this issue. Let me close this.

[2016-06-09 01:16] #79 closed

[2016-06-10 06:08] #92 closed

[2016-06-10 14:48] somanythings opened #122 "S3.bucket(name:String) is implemented in terms of listBuckets"
A client doesn't necessarily have the listBuckets permission, but *can* getObject(bucketName). Using s3.bucket(bucketName) in this case results in exceptions like:
com.amazonaws.services.s3.model.AmazonS3Exception: Access Denied (Service: Amazon S3; Status Code: 403; Error Code: AccessDenied;

[2016-06-10 23:03] findchris opened #123 "DynamoDB: Add support for UpdateExpressions (over deprecated AttributeUpdates)"
[aws-sdk-java supports](https://github.com/aws/aws-sdk-java/blob/7543f7528c6c1f4a524437b33f370e74efed52fa/aws-java-sdk-dynamodb/src/main/java/com/amazonaws/services/dynamodbv2/model/UpdateItemRequest.java#L638-777) `UpdateExpressions` in DynamoDB, as described in [the docs](http://docs.aws.amazon.com/amazondynamodb/latest/gettingstartedguide/GettingStarted.NET.03.html#GettingStarted.NET.03.02).  T

[2016-07-04 12:40] marhel opened #124 "Warn that running tests have costs associated!"
The unit tests spins up AWS resources, which in hindsight is probably to be expected, but the cleanups are apparently not foolproof, as I (being a fool) just now found an unnamed t1.micro machine running in the AWS Tokyo region (which I'm not usually using). This machine has apparently been running since I did PR #120, with a runtime of 1082 hours. Fortunately not on the AWS accounts for any of my

[2016-08-02 10:43] adamnfish opened #128 "CredentialsProvider trait limits usage"
awscala provides a `CredentialsProvider` trait that doesn't seem to offer any benefit. It simply extends the Java SDK's own `AWSCredentialsProvider` interface which provides identical methods.

One problem with this is that the client classes accept an awscala `CredentialsProvider` in the constructor, rather than Amazon's type. This means it isn't possible to pass e.g. a provider chain to these cl

[2016-08-02 12:57] adamnfish commented on #124
:+1:
Might be helpful to log the ARNs of any resources that get created. Better still, make it easy to read that into a script that wraps the AWS CLI tool and automatically ensures they are all deleted.

[2016-08-10 06:40] seratch commented on #128
The purpose to have `CredentialsProvider` is to avoid any effects by AWS SDK's API changes. But I can understand your point. Initially, this library's goal is providing easy-to-use / handy way to deal with AWS SDK on the Scala REPL. If your pull requests meet it, any improvements are welcome.

[2016-08-11 14:39] crakjie commented on #88
👍 +1

[2016-10-18 08:01] naderghanbari opened #133 "Support Amazon Cognito"
AWS Java supports Amazon Cognito, it would be great to have the support here in AWScala.

[2016-10-18 08:06] naderghanbari commented on #95
@findchris In your case it makes sense to get `NSE` because you call `.get` on the optional value which fails if it's `None`, I'm just wondering why it happens in case of `dynamoDB.table("mytable").nonEmpty` because `nonEmpty` obviously just delegates he job to `isDefined` for an `Option` which is a safe operation!

@backender are you sure you get the exception exactly on that line of the code? I

[2016-10-18 08:38] backender commented on #95
@naderghanbari I'm not actively using the library anymore but since I remember spending quiet some time with the issue, I presume what I documented was what I experienced.

[2016-10-25 07:07] lenowng commented on #133
+1

[2016-10-26 01:58] Khalian commented on #133
In that case, lets start getting the ball rolling : https://github.com/seratch/AWScala/pull/136

[2016-11-08 15:11] maartenh commented on #88
Ran into this as well, and worked around it by just creating a Bucket instance directly:
[code]

[2016-11-08 15:12] maartenh commented on #122
Ran into this as well, and worked around it by just creating a Bucket instance directly:
[code]

[2016-11-30 14:04] peterjam28 opened #138 "describe not showing global secondary index"
"Table": {
        "TableArn": "arn:aws:dynamodb:ddblocal:000000000000:table/promcomm_unit",
        "AttributeDefinitions": [
            {
                "AttributeName": "id",
                "AttributeType": "S"
            },
            {
                "AttributeName": "entity",
                "AttributeType": "S"
            },
            {
                "AttributeName": "previous",

[2016-12-09 09:39] karlvlam opened #139 "No exception handling"
Currently the library just return None for catched exception, which is super difficult to debug. It is suggested to change to return the error to the caller.

[2016-12-09 15:41] seratch commented on #139
which methods?

[2016-12-19 14:38] adamnfish opened #140 "No default value for AttibuteValue's `l` field"
A recent change removed the default value for AttributeValue's `l` field. This means there are heaps of places where I've had to update test code to provide `Nil`.

I'm struggling to see a reason for this change. If there isn't one, can the default `Nil` be added? It looks like it may simply be an oversight that this parameter was added without  a default. I'm very happy to raise a PR to do so if

[2016-12-19 15:37] seratch commented on #140
Default value for `l` is reasonable for me. I'm looking forward to merging your pull request 👍

[2016-12-19 23:40] #140 closed

[2016-12-23 16:05] francescoperera opened #142 "Not all AWS regions supported in Region"
Does AWScala  handle Seoul,Mumbai ,Ohio, Montreal, London as a Region?  If so, can you point me to it?
I don't see  them defined in Region0.scala

[2016-12-24 03:52] seratch commented on #142
They should be handled correctly but they are just absent in Region0.scala. If you're in a hurry, would you send a pull request to fix that?

[2016-12-27 15:38] francescoperera commented on #142
@seratch  thanks for the reply. Not in a hurry right now but will send a PR when I do have some time.

[2016-12-27 16:51] francescoperera opened #143 "S3 client for public bucket"
Hi, this might be a trivial question but I am working on an s3 data ingestion pipeline. Given a url (whether its pointing to a public or private bucket), I need to get the file content.
I have my code working on a private bucket ( by providing appropriate user credentials) but I am still trying to figure out how to generalize the code to accommodate a url pointing to a public bucket.
With a public

[2016-12-30 04:35] seratch commented on #143
It's unsupported right now.

[2017-01-07 21:42] tejasmanohar opened #144 "Support for > 1,000 S3 keys"
Is there (or is there planned) support for 1,000 S3 keys via markers? AWS Java has http://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/services/s3/AmazonS3Client.html#listNextBatchOfObjects-com.amazonaws.services.s3.model.ListNextBatchOfObjectsRequest- and I found http://stackoverflow.com/questions/12853476/amazon-s3-returns-only-1000-entries-for-one-bucket-and-all-for-another-bucke

[2017-01-18 18:48] sebaoliveri opened #145 "Add support for atomic counters"
To allow atomic increments by field

[2017-02-01 11:13] rgjamkhedkar commented on #20
There is no batch write in aws scala's dynamodb API. AWS SDK provides it. Are there any plans to include it?

[2017-02-15 20:09] getmetorajesh opened #146 "generatePresignedUrl() for keys thats have spaces."
Whenever I try to generatePresignedUrl for keys(key: /some_folder/file name.JPG) with spaces, it generates the URL, but the URL returns 403 with the below error message

The request signature we calculated does not match the signature you provided. Check your key and signing method.

[2017-03-06 14:30] adnanced commented on #139
Yes, I have the same problems. Something wrong is going on in only one of my environments and I have no idea what. I checked some relevant functions and saw that all of those that wrap around java implementation are ignoring or throwing exceptions (at best). That shouldn't happen in Scala as that is one of the benefits of this language and functional programming.
If you need examples check functio

[2017-03-23 22:32] ganeshchand opened #148 "Dependency setup - NoClassDefFoundError"
I have the following dependency on my build.sbt
[code]

Doing a simple bucket list gives me `NoClassDefFoundError` error as shown below.
[code]

[code]

I have setup the AWS keys correctly. Is there any additional dependency or setup required to make this work?

[2017-03-23 22:42] ganeshchand commented on #148
It seems like the error went away after adding
```scala libraryDependencies += "org.apache.httpcomponents" % "httpclient" % "4.5.3"```

[2017-04-05 23:22] polymorpher opened #151 "Local DynamoDB install script 404 error"
[code]

Can be fixed by https://github.com/seratch/AWScala/pull/150

[2017-05-04 07:56] Steniaz opened #153 "S3 List pagination"
I was looking through the documentation of this library and couldn't help but notice that there is no pagination on the S3 List call. Am I correct? I need this for a project of mine and would love to use this library instead of the AWS java SDK.

Thanks for looking into this

[2017-05-11 22:00] jeffdyke opened #154 "com.decodified not found when using EC2"
Hello
In awscala.ec2.SSHEnabledInstance.ssh it imports `import com.decodified.scalassh._`, but in this commit(https://github.com/seratch/AWScala/commit/92cae581f46b33a60b22b3ef787e6c01c2a2c1ca), the library was removed to use a forked version.  When i attempt to use EC2 i get an error
[code]
I'm happy to open a PR for this, but there may be reasons it is like this?  Or is it simply that the jar is

[2017-05-15 22:43] jeffdyke commented on #154
tried a clone for a hopeful fix, i see you have a fork of scala-ssh that is ahead of veact,  i'll try that, but right now unless you have these files locally sbt will not compile this project....at least for me. simple `git clone` and `sbt compile` fails to resolve `veact`, i see that its says "provided" and i'll admit i don't completely grasp that, but it would seem that this breaking behaviour t

[2017-05-24 02:19] jmcclell commented on #153
👍

[2017-06-28 22:55] CptnKirk commented on #146
I had a similar issue with keys that contained ':' chars.  The root cause was a bug in the underlying aws sdk.  awscala pulls in a very old sdk version.  Manually pull in a current aws sdk version into your project and this issue should go away.  I'm using 1.11.115 and the problem is gone for me.

[2017-07-27 17:18] rogerzxu commented on #142
I don't believe these missing regions: ap-south-1, ca-central-1, us-east-2, eu-west-2 will work at using Region class, as the underlying amazon java sdk is on 1.11.57 and is missing these 4 enums from the [latest](http://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/regions/Regions.html).

You can still access these regions though if the regions are explicity defined in the endpoints

[2017-08-11 13:40] vit3k opened #157 "Endpoint url support"
Is it possible to set endpoint url as in AWS CLI to use for example Moto server instead of real S3?

[2017-08-11 15:39] seratch commented on #157
unsupported so far.

[2017-11-03 21:48] nielsbergsma opened #159 "Limit value not respected in dynamodb query"
Hi,

I'm unable to limit the number of results in a dynamodb query operation, the following snippet returns 23k messages instead of 50. Why is the result set size so big?

[code]

[2018-02-01 16:30] rogerzxu opened #163 "Queue#messages receives only one message at a time"
The naming and the type of `awscala.sqs.Queue.messages(): Seq[Message]` implies that the queue polls for multiple messages at once.

However, through following the calls and through testing, I see that it eventually calls `SQS#def receiveMessage(queue: Queue): Seq[Message] = receiveMessage(queue, 1)`, where 1 is the maximum number of messages to be received.

Either the naming/type of the function

[2018-02-06 01:32] leoromanovsky commented on #163
I believe the AWS API by default returns one message. It would be useful to allow users to use the Batch API and request up to 10 messages.

[2018-02-06 01:44] seratch commented on #163
Fair enough. I will change the method call to specify 10 as the maximum size.

[2018-02-06 02:08] #163 closed

[2018-02-08 22:01] jayluan opened #165 "bucket object does not work for cross-account reads"
because `s3.bucket(name: string)` is doing a list bucket under the hood before doing a find, it won't be able to reach any buckets in a different account given that cross account access is enabled.

[2018-02-26 22:19] #142 closed

[2018-03-02 16:20] Esardes opened #167 "can't jetty:start on latest update"
I'm using sbt 0.13.10, Scala 2.12.4, and Scalatra 2.6.2
When forcing AWScala to 0.6.2, I can `jetty:start` normally from sbt. With 0.6.3, it fails with error in attached file
[error.txt](https://github.com/seratch/AWScala/files/1775847/error.txt)

It seems something is wrong with joda-converter 2.0 jar ? AWScala 0.6.3 is my only dependency using it. Sorry if it's not the right place and I should r

[2018-03-26 20:56] dickhatch opened #168 "SQS support for FIFO queues"
FIFO queues require a messageGroupId be associated with each message. Is there any plan to add that functionality?

[2018-03-27 00:13] seratch commented on #168
I would like to support FIFO queues as well. When I created this library, the feature was still unavailable. That's the reason why the feature is absent.

[2018-04-23 05:14] torstenrudolf commented on #159
I believe the `limit` parameter only sets the "per-page-limit" after reading the code.
But since the AWScala dynamodb `table.query` uses the `QueryResultPager` under the hood which gets converted into a stream it still will result in the full set of items.

You might need to use the `ResultPager` directly, to only get the first page.

[2018-05-07 14:17] latrilla opened #171 "java.lang.noSuchFieldError: CN_NORTHWEST_1"
A runtime error happens while trying to instanciate a S3 Bucket using the Maven 0.6.3 version :
[code]

[2018-05-07 16:28] seratch commented on #171
Let me know your AWS Java SDK version. AWScala 0.6.3 is compatible with AWS Java SDK 1.11.285.

[2018-05-10 18:09] colindean opened #172 "Merge in Kinesis implementation?"
https://github.com/bizreach/aws-kinesis-scala provides `"jp.co.bizreach" %% "aws-kinesis-scala"` and seems to have a very similar implementation style.

Maybe it could be or serve as the basis of implementing Kinesis support?

[2018-05-14 08:36] latrilla commented on #171
I'm on the 1.11.183 version, indeed updating to the 1.11.285 worked. Sorry about that, thanks

[2018-05-14 08:36] #171 closed

[2018-05-15 00:50] seratch commented on #172
It may be fine. What do you think? @takezoe

[2018-05-15 05:19] takezoe commented on #172
aws-kinesis-scala consists the core module and the spark support module. I think the core module can be merged with AWScala basically, but it contains not only Scala wrapper of AWS-SDK but some additional features like automatic retry fashion. I'm not sure these features should be merged as well.

[2018-05-18 12:29] seratch commented on #172
Thank you for your detailed explanation. I prefer a simple wrapper of Java SDK.

Anyway, if somebody makes a pull request to merge a Kinesis module, I am willing to merge it regardless of whether it's based on aws-kinesis-scala or not.

[2018-05-21 04:55] howardjohn commented on #68
I took an attempt at this https://github.com/seratch/AWScala/pull/175

[2018-06-22 14:19] orium commented on #89
This does not seem to be a bug in AWScala but a very poorly designed AWS SDK:

[code]

[2018-07-17 10:35] IvanGuardado commented on #171
I'm getting the same error... using the 0.7.1

[code]

[code]

Could anyone help me with this?

Thanks!

[2018-07-17 10:38] seratch commented on #171
@IvanGuardado Can you check the version of not AWScala but AWS Java SDK?

[2018-07-17 11:00] IvanGuardado commented on #171
@seratch The AWS Java SDK installed version is `2.8.5`. It's automatically installed by the `awscala` dependency.

[2018-07-17 11:06] seratch commented on #171
@IvanGuardado I don't believe it. AWScala 0.7.1 depends on 1.11.285.
https://github.com/seratch/AWScala/blob/0.7.1/build.sbt#L57

[2018-07-17 11:10] IvanGuardado commented on #171
Totally true! I had the number `285` in my mind and I wrote `2.8.5`, sorry.

[code]

[2018-08-09 18:11] jklukas opened #179 "Allow greater aws-java-sdk version flexibility"
Currently, AWScala modules specify aws-java-sdk components as transitive dependencies, with a global version set for the entire AWScala project. There are, however, many scenarios where a user might want to fine-tune the version of the underlying aws-java-sdk they're using.

A comprehensive solution could be to mark all aws-java-sdk dependencies as "provided" scope and document that the user is ex

[2018-08-14 14:59] orkunkl opened #180 "Can't access properties of S3ObjectSummary properties"
I am trying to filter some of the S3Object summaries depending on their keys. But apparently key and other values are not accessible like in this code `bucket.objectSummaries.filter(_.key)` except **bucket**. So I don't know if this is a design choice. If it is what is the purpose of making objectSummaries a `Stream[S3ObjectSummaries`?

[2018-09-14 11:57] adamnfish commented on #128
This is still an issue and I'd add that the current approach relies on deprecated constructors in the SDK. The deprecation means that my workaround above no longer works if you want to enable `"-Xfatal-warnings"` in your build (which is a good best practice).

I can look at putting together a Pull Request that adds the ability to provide a `com.amazonaws.auth.AWSCredentialsProvider`. This would le

[2018-09-16 01:11] seratch commented on #128
@adamnfish Thank you for your suggestion. I would like to understand your intention correctly.

Do you mean that you're willing to improve `CredentialsLoader` to hold a singleton `AWSCredentialsProvider` instance to stop creating a `DefaultCredentialsProvider` every time calling `AWSCredentialsProvider.load()`? If so, I agree that it's reasonable.

Otherwise, I would like to know what the possible

[2018-09-17 12:46] adamnfish commented on #128
My goal is to be able to use provider chains to authenticate AWScala's functionality. With that in mind I've created [a branch that lets developers use AWS providers to authenticate AWScala clients](https://github.com/seratch/AWScala/pull/181). There's more detail below about why, but I'll try and outline my thoughts more clearly for you.

------------------------------------------

This library r

[2018-09-17 14:28] davecromberge commented on #128
@seratch do you have any timeframe on when you plan to release 0.8.0? I am about to create a workaround using profile credentials, but will not bother if you plan to release soon.

[2018-09-17 14:33] seratch commented on #128
@davecromberge I've already published 0.8.0 😄 If you have some idea to add or find any problems with 0.8.0, please let me know. I will work on 0.8.1 release at any time.

[2018-09-17 14:45] davecromberge commented on #128
Thanks @seratch! I will be sure to report any problems should I encounter them 👍

[2018-09-20 17:42] sjfloat opened #182 "Tagging with S3 object PUTs"
I was not able to find a way to include tags with `put` or `putObject`. It would be nice to be able to pass in `ObjectTagging` instances or perhaps Maps of `Tags`. Otherwise, if there was a convenient way to get access to the underlying `PutObjectRequest`, one could manipulate that.

Am I missing something?

[2018-10-12 00:38] derrickburns commented on #180
`objectSummaries` is a Stream to avoid the latency and memory of downloading all the summaries synchronously. This is useful when buckets contain a large number of objects.

[2018-11-08 17:22] lmserrano opened #183 "Change return type for SQS Message Deletion functions"
The delete message functions are returning `Unit` but they should return `DeleteMessageResult` and `DeleteMessageBatchResult`.

In trait SQS, in awscala.sqs:

[code]

[2018-11-08 17:55] seratch commented on #183
Fair enough. If you’re in a hurry, could you make a pull request for this?

[2018-11-08 18:09] lmserrano commented on #183
Thank you for the quick reply. I'll try to make a pull request for this as soon as I have the chance.

[2018-11-08 20:46] #183 closed

[2018-11-08 21:21] seratch commented on #183
@lmserrano Thank you for your contribution. I just released version 0.8.1 which includes your change. https://oss.sonatype.org/content/repositories/releases/com/github/seratch/awscala-s3_2.12/0.8.1/

[2018-11-08 21:28] lmserrano commented on #183
Thank you @seratch .

[2018-11-29 00:43] hderms opened #185 "Dependency on deprecated AWS SDK functionality in S3"
https://github.com/seratch/AWScala/blob/master/s3/src/main/scala/awscala/s3/S3.scala#L338

The AmazonS3Client class is deprecated

[2018-12-01 00:33] git4sun opened #186 "Is there any support for comprehend?"
I just found this project. Is there a specific support for the comprehend service? or a general way to access any service in aws?

[2018-12-01 01:00] seratch commented on #186
Amazon Comprehend is not supported yet. To support new services, we need to implement Scala wrapper APIs for it every time.

[2019-01-10 14:20] onedeadear opened #188 "Region.Tokyo: java.lang.NoClassDefFoundError: Could not initialize class awscala.package"
Hi,

I'm trying to use this library and I include the package com.github.seratch:awscala_2.10:0.8.1

This includes aws-jdk versions 1.11.415 e.g. com.amazonaws#aws-java-sdk-s3;1.11.445

I get the following error however:

[code]

Note: I'm running this on spark scala shell, version 1.6.3

Cheers

[2019-01-10 14:39] onedeadear commented on #188
Version 5.5 doesn't throw the error. Could this be a java version issue. I'm using java 7.

[2019-01-10 14:40] seratch commented on #188
I'm afraid that it seems like happening due to Spark scala shell. I was not able to reproduce the situation on the standard REPL.

[code]

[code]

[code]

[2019-02-01 19:23] coreyauger commented on #157
+1

[2019-02-03 17:15] fancellu commented on #179
Seems that this currently expects AWS SDK v 1, not v2

https://docs.aws.amazon.com/sdk-for-java/v2/developer-guide/

Would be nice if it could use v2

[2019-02-27 20:29] hayd commented on #168
This would be really nice to have, are there any pointers you could give in how to get started to add this feature?

[2019-04-25 04:04] xuwei-k opened #192 "use java.time instead of joda-time"

[2019-06-16 09:39] feleio opened #199 "NullPointerException occurred when describing dynamodb table without BillingMode"
https://github.com/seratch/AWScala/blob/master/dynamodb/src/main/scala/awscala/dynamodbv2/TableMeta.scala#L103

I ve got null pointer exception from this line. There might be some dynamo table doesn't give you bill mode summary?

related change:
#195
@kimxogus

[2019-06-16 09:40] feleio commented on #199
#195
@kimxogus

[2019-06-16 09:40] feleio commented on #199
Thanks

[2019-06-19 10:49] orium opened #201 "Scala 2.13 support"
Ref #190

[2019-06-19 21:37] thestephenstanton commented on #199
How was this able to make it in 8.2? Just curious. I think I looked and the build for the commit that the breaking code was added to, failed.

[2019-06-19 21:55] #199 closed

[2019-07-24 09:39] Quafadas commented on #201
Any news on this?

[2019-08-16 08:00] Quafadas commented on #157
+1

[2019-09-09 22:41] jeffrey-aguilera commented on #201
I'm interested as well.

[2019-09-09 23:29] seratch commented on #201
Indeed, it's about time to do that. Should we have a fork project of scala-ssh?

[2019-10-30 12:02] ltassone opened #207 "SQS 1000 queues limit bug"
The function to search a [queue](https://github.com/seratch/AWScala/blob/5d26b1dda276b01fec340c8e931e859478974c2b/sqs/src/main/scala/awscala/sqs/SQS.scala#L42) by name is built on top of `listQueues()` ([documentation](https://docs.aws.amazon.com/AWSSimpleQueueService/latest/APIReference/API_ListQueues.html)) that returns only the first 1000 queue in alphabetical order.
If you have more than 1000

[2019-10-31 17:04] adamnfish commented on #201
Looks like scala-ssh has updated, was that the last blocker to a 2.13 release of AWScala? Thank you everyone that's already been looking at this!

[2019-10-31 18:53] adamnfish commented on #199
I see this is fixed in master, but there doesn't seem to be a release that includes it. Am I missing a release, or is this on purpose?

Thanks heaps for raising and fixing this everyone!

[2019-11-01 10:31] ltassoneVisua commented on #207
I have created a pull requested to fix this issue.

[2019-11-01 20:03] note commented on #201
I opened a PR here: https://github.com/seratch/AWScala/pull/209
It compiles but tests fail for scala 2.13. Will try to take a look in a following days

[2019-11-18 04:00] apetross commented on #199
+1 having the same issue.  will there be a new release with the fix?

[2019-11-18 06:51] seratch commented on #199
I just released version 0.8.3. The jars will be available on Maven Central repositories very soon.

[2019-11-18 15:52] pederpansen opened #210 "Cannot create enum from eu-north-1 value!"
Hi,

after months of smooth operation, I just got the following error:

[code]

The offending line in my code is:
[code]

That's odd, because Frankfurt is `eu-central-1` and has nothing to do with the `eu-north-1` region.

It happens during an AWS EMR job. Any ideas what is going on here?

[2019-11-20 04:39] ocworld commented on #210
In my case, after updating awscala to 0.8.3, the error is occurred. So, I've tried to use awscala 0.8.2, it is not raised.

I do not know a reason. However, I assume that 0.8.3 version has some problems or changes for using APIs.

[2019-11-20 05:58] seratch commented on #210
diff: https://github.com/seratch/AWScala/compare/0.8.2...0.8.3

[code]

Which AWS SDK version does your app depend on? I'm afraid the problem may be caused by some binary compatibility issues among AWS SDK versions.

[2019-11-20 06:23] ocworld commented on #210
Surely, the version of sdk used in my app is written in awscala's build sbt file. Not it is overwritten and manually set. When I use 0.8.3, awsJavaSdkVersion is "1.11.621".

I'm not sure that it is a general problem among AWS SDK versions. However, In my case, the error is occurred not in 0.8.2 but in 0.8.3.

[2019-11-20 10:50] pederpansen commented on #210
My problem also started after an (unintentional) upgrade of this library. The AWS SDK used in EMR version `5.20.0` ist `1.11.461`, which is "too old" for the current version `0.8.3`. I just upgraded to a newer EMR version `5.28.0` and now everything works fine.

@seratch I dont' know if you want to add a workaround for the `europe-north-1` region like here? https://github.com/seratch/AWScala/blob/

[2019-11-20 12:23] seratch commented on #210
@pederpansen Thanks. I would like to cover all the regions in that code.

[2019-11-22 14:30] h1-nik commented on #210
This breaks for me as well moving from "0.8.2" to "0.8.3" with same `Cannot create enum from eu-north-1` value.

[2020-01-28 16:43] ShahOdin commented on #151
@polymorpher the fix is merged so can be closed?

[2020-01-29 00:29] seratch commented on #151
Yes, I think so too. Let me close this now.

[2020-01-29 00:29] #151 closed

[2020-01-29 00:37] seratch commented on #210
Merged #212

The fix will eliminate the possibility to have this exception in future versions. Allow me to close this issue now.

[2020-01-29 00:37] #210 closed

[2020-01-29 00:38] seratch commented on #201
#215 has been merged. I will release a new version soon.

[2020-02-10 11:27] orium commented on #201
Hi @seratch.  Any news about a new release?  If there's anything that needs to be done I'm happy to help.

[2020-02-10 23:54] seratch commented on #201
@orium Sorry for the delay! I just shipped it. The jars will be synched to maven central within a few hours.

[2020-02-10 23:54] #201 closed

[2020-02-11 19:53] orium commented on #201
Awesome.  Thank you @seratch

[2020-02-14 21:17] Liam3851 opened #216 "Scala 2.11 support/AWS EMR compatibility"
Thanks very much for AWScala! This project has been a big help to me.

I noticed that Maven has no artifact for 0.8.4 for Scala 2.11-- it appears dropping 2.11 was part of #215. Unfortunately AWS EMR still only supports Scala 2.11 (EMR has a beta of Spark on Scala 2.12, EMR 6.0.0 beta 2, but that has not yet been released to production yet), so this means AWScala 0.8.4 (with the recent SDK version

[2020-02-15 00:44] seratch commented on #216
It depends but it may not be safe for some cases. The AWS Java SDK releases are not binary-compatible even among patch versions. So, linking a different version can be a cause of runtime errors.

I don't want to have cross builds with Scala 2.11 for this entire project anymore. But you have the necessity to have scala 2.11 builds specifically for the EMR module, I'm open to the idea to ship scala

[2020-02-17 00:28] PhilAndrew opened #217 "Question: How to switch role after login?"
How to switch role after I logged in with

[code]

At this point I need to change role to access my organisations resources, or otherwise login with that role, otherwise I cannot access my company AWS resources.

https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use_switch-role-console.html

Is it related to STS? https://github.com/seratch/AWScala/blob/9467f52a3802ddb8998cabf73b63de9dd4d93

[2020-02-20 15:35] Liam3851 commented on #216
I can't speak to other users, but the parts of AWScala I use on EMR primarily are the SQS module and the S3 module.. the EMR module itself is mostly for starting/managing clusters (which I do on machines that aren't themselves EMR clusters); once I'm on the cluster I don't really need the EMR submodule anymore.

That said, I understand the desire not to manage cross-builds esp. for a version of Sc

[2020-02-24 03:24] adisesha commented on #88
This needless operation can cause extra AWS bills, depending on the frequency. In our case 1000+ dollars. Calls to list buckets can result in cross region data transfers and requests. Checkout for ListAllMyBuckets in usage reports or ListBuckets in Cloudtrail logs.

[2020-03-05 13:21] zallesov commented on #157
+1

[2020-07-27 22:22] gstranger opened #218 "Add support to the batchGetItem API for tables that use a composite primary key"
I'm trying to use the batchGetItem API on a table that has a hashPK that is a UUID and a rangePK that is the row count within a particular dataset. When attempting to use the batchGetItem I'm getting a 400 response Dynamo about the supplied keys being incorrect for the schema of the table. After poking around the code it looks like the batchGetItem API doesn't actually support composite keys, but

[2020-08-12 13:24] Bertrand31 commented on #88
Wouldn't this method be made a lot more efficient by using the new `doesBucketExists` S3 client method? https://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/services/s3/AmazonS3Client.html#doesBucketExistV2-java.lang.String-

[2020-11-03 14:54] j-kinyanjui opened #220 "scala S3 client Credentials problems"
This might have been solved before but I check old issues and did not find anything.

I'm configuring an S3 client like so.

[code]

When I try and find the bucket, I get a 403 error. Where I'm I doing anything wrong? The exception is as follows:

[code]

[2020-11-04 10:55] #220 closed

[2021-01-08 01:25] #218 closed

[2021-02-10 00:42] Liam3851 commented on #216
EMR from version 6.0.0 supports Scala 2.12. Closing.

[2021-02-10 00:42] #216 closed

[2021-02-10 21:26] jwszolek commented on #138
hey @seratch couldn't reproduce it. `table.globalSecondaryIndexes()` seems to work fine. I vote to close this issue.

[2021-02-19 18:26] joprice opened #231 "deprecated Stream type in scala 2.13"
The Stream type was deprecated in scala 2.13. Users of this project using fatal warnings need to use nowarn to silence the warning. Is there any plan to migrate off of Stream to LazyList for newer scala versions?

[2021-03-18 07:15] prongs opened #239 "Cluster object has missing fields"
The design of the type `awscala.emr.Cluster` is such that

* it extends `com.amazonaws.services.elasticmapreduce.model.Cluster`.
* it takes an instance of `com.amazonaws.services.elasticmapreduce.model.Cluster` for initialization. In the constructor, it copies some fields.

Now the problem here is that some fields are missing. For me, I encountered this problem for the field `master dns name` and

[2021-03-23 22:46] seratch commented on #239
Thanks for taking the time to report this issue! If you don't mind, can you send a pull request for fixing this?

[2021-03-23 22:46] seratch commented on #231
Honestly, I am not planning to actively work on this project but I'm positive to migrate to preferred classes and cut off older Scala version supports.

[2021-03-23 22:47] seratch commented on #217
Sorry for my slow response here but I recommend asking this question in the AWS community.

[2021-03-23 22:48] #217 closed

[2021-03-23 22:52] seratch commented on #207
@ltassoneVisua which one? https://github.com/seratch/AWScala/pulls?q=is%3Apr+author%3AltassoneVisua+

[2021-03-23 22:52] seratch commented on #192
If someone is interested in working on this, I'm happy to be a reviwer!

[2021-03-23 22:53] seratch commented on #186
If someone is interested in working on this, I'm positive to merge the changes.

[2021-09-20 11:07] feleio commented on #157
+1

[2021-09-23 14:04] k0ala opened #298 "support Route 53"
Great job on AWScala!

Would you consider adding support for [Route 53](https://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/services/route53/AmazonRoute53.html)?

[2022-05-15 17:12] alternegro opened #359 "Alternative to @hashPK & @rangePK when using Scala 3"
Hi,

The above comment in the docs re: using the `@hashPk` and `@rangePk` annotations in Scala 3.
What's the recommended Scala 3 solution to marking the partition and range keys?
Thanks

[2022-05-15 18:18] #359 closed

[2022-06-16 14:12] chace86 opened #366 "Support AWS Glue"
Hi, I would like to contribute adding [AWSGlueClient](https://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/services/glue/AWSGlueClient.html) to this project.

[2022-08-05 10:01] Abhijeetmishr commented on #192
@seratch ### I am willing to work on this I have forked and cloned the whole repo and successfully build it.